.container {
  display: flex;
  //background-color: white;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;

  .left {
    flex: 0.5;
    overflow: hidden;
    background-color: White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img {
      height: 50%;
      width: 75%;
      box-shadow: 0 0 10px black;
      border-radius: 10%;
      margin-bottom: 5vh;
      display: flex;
      //overflow: none;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      
     //margin-top: 20px;
    }
  }

  .right {
    color: rgb(0, 0, 0);
    flex: 0.5;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;

    .wrapper {
      height: 50%;
      width: 75%;
      display: flex;
      margin: 20% 15vh;
      border-radius: 10%;
      flex-direction: column;
      box-shadow: 0 0 10px rgb(0, 0, 0);
      align-items: center;
      justify-content: space-evenly;
      background-color: rgb(231, 231, 231);

      h1 {
        font-size: 40px;
        margin: 15px;
        justify-content: center;
      }

      h2 {
        justify-content: center;
        align-items: center;
        margin: 10px 30px;
        font-weight: 300;
      }
    }
  }
}
